<robot name="wam"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Includea all the WAM stuff -->
  <include filename="$(find barrett_model)/models/wam_top.urdf.xacro"/>

  <!-- Root link is in the world frame-->
  <link name = "world"/>

  <!-- First wam! -->
  <xacro:wam_7dof prefix="wam1" parent_link="world" xyz="0.5 0 0" rpy="0 0 ${PI}" />
  <xacro:bhand prefix="wam1/bhand" parent_link="wam1/wrist_palm_link" xyz="0 0 0.06" rpy="0 0 ${PI}"/>

  <!-- Second wam! -->
  <xacro:wam_7dof prefix="wam2" parent_link="world" xyz="-0.5 0 0" rpy="0 0 0" />
  <xacro:bhand prefix="wam2/bhand" parent_link="wam2/wrist_palm_link" xyz="0 0 0.06" rpy="0 0 ${PI}"/>

</robot>
